
<div class="sidebar">
  <a><img class="avat" src="/src/assets/images/prof.png"></a>
  <a class="homeicon"><img src="/src/assets/images/home.png" style="height: 40px; width: 90px"></a>
  <a class="notificon"><img src="/src/assets/images/notif.PNG" style="height: 40px; width: 90px"></a>
  <a class="friendicon"><img src="/src/assets/images/friend.PNG" style="height: 40px; width: 90px"></a>
  <a class="saveicon"><img src="/src/assets/images/saved.png" style="height: 40px; width: 90px"></a>
  <a class="settingicon"><img src="/src/assets/images/settings.PNG" style="height: 40px; width: 90px"></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
