<div class="body">
<div class="pic img-responsive" style="background-image: url(/src/assets/images/ca2.jpg); width : 1368px; height: 700px">

  <div class="login">
    <form [formGroup]="formGroup">
        <div class="col-sm-3" >
          <div class = "loginsubmit">
            <dynamic-form [question]="getQuestion('username')" [form]="formGroup" ></dynamic-form>
            <dynamic-form [question]="getQuestion('password')" [form]="formGroup"></dynamic-form>
          </div>
        </div>
        <div class="loginbutton">
          <button [disabled]="isDisabled()" class="btn btn-success">
            {{ getComponentName() + '.loginbutton' | translate }}
          </button>
        </div>
  </form>
</div>
</div>
</div>