<!--
<app-nav-bar></app-nav-bar>  

<app-side-nav></app-side-nav>    
-->

    
<div class="main">
    <div class="wallpost">
      <tr>
        <td class="posttextarea"><textarea class="form-control" rows="2" id="comment" placeholder="Whats up ?"></textarea></td>
        <td style="padding-left: 5%;padding-top: 3%"><a class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-picture"></span>
        </a></td>
      </tr>      
    </div>

    <div class="postss">
    
    </div>
      
  <h2>{{ getComponentName() + '.title' | translate }}</h2>
  <p>{{ getComponentName() + '.testText' | translate }}</p>
  <p>{{ getComponentName() + '.testTextWithVariable' | translate: {name: 'Test Name'} }}</p>
  <p>{{ getComponentName() + '.testTextWithMultipleVariables' | translate: { variable1: 'Variable 1', variable2: 'Variable2'} }}</p>
    <form [formGroup]="formGroup">
        <div class="col-sm-4">
            <dynamic-form [question]="getQuestion('username')" [form]="formGroup"></dynamic-form>
            <dynamic-form [question]="getQuestion('password')" [form]="formGroup"></dynamic-form>
            <dynamic-form [question]="getQuestion('confirmPassword')" [form]="formGroup"></dynamic-form>
        </div>
        <button [disabled]="isDisabled()" class="btn btn-danger">{{ getComponentName() + '.buttonText' | translate }}</button>
    </form>
    
</div> 


