.body{
    position: fixed;
}

.signup {
    margin-left: 90px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    padding-top: 100px;
    width: 100%;
}
.pic{
    width: 100%;
    height: 18cm;
}

.signupsubmit{
    margin-top: 100px;
}

signupbutton{
    text-align: center;
    padding-top: 100%;
}

