<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .pic{
        width: 100%;
        height: auto;
    }
</style>



<div class="pic img-responsive" style="background-image: url(/src/assets/images/ca2.jpg)">

    <div class="row">    
        <div style="padding-left: 68%; padding-top: 15%">
        </div> 
    <div>   
        <div class="row" style="padding-left: 70%">
            <br>
            <br>
            <div class="separator">
                <button class="btn btn-success" [disabled]="isDisabled()"
                  id="submit" (click)="submit()" style="width: 60%" ng-disabled="myForm.email.$invalid">Sign-up
                </button>
            </div>
        </div>
    </div>

   <script>
   var app = angular.module('MyApp', []);
   app.controller('validateCtrl', function($scope){
    $scope.email = 'Chris@gmail.com'   
    
   });
        
   </script>
    
    
</div>
</div>
